<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js'></script>
  <script src="jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="myApp.js"></script>
  <!-- <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelector('[name=auto]').addEventListener('input', function (e) {
      document.querySelector('h1').innerHTML = e.target.value
    })
  })
  </script> -->
  <title>Unit 1</title>
  <body>
     tag: `{{1 + 6}}`
     <br>
     <br>
     	<input type="text" placeholder="What is your name" ng-model="name">
      <select ng-model="choice">
        <option value="Dogs">Dogs</option>
        <option value="Cats">Cats</option>
        <option value="Dogs and Cats">Dogs and Cats</option>
        <option value="Neither">Neither</option>
      </select>
      	<h1 ng-init="name='BoJack'">My name is: {{ name }}</h1>
        <h3>Users Choice is: {{choice}}</h3>
        {{3.14159265359 | currency : "€"}}
        <br>
        <br>
        <label for="transform">UpLow:</label>
        <input type="text" ng-model="transform" name="transform">
        <br>
        <h2>Yelling: {{transform | uppercase}}</h2>
        <h2><i>Whispering: {{transform | lowercase}}</i></h2>
        <br>
        <br>
        <select name="pi" ng-model="pi" ng-init="pi='2'">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
    <h2>Here you go! This is Pi to {{pi}} {{pi != "1" ? 'digits' : 'digit'}}</h2>
    <h3>{{ (22 / 7) | number : pi}}</h2>
  </body>
</html>
<!--Intro Questions:
1 Why learn Angular JS over other frameworks like Ember, Backbone, Knockout, etc?
2 People have some very strong opinions about Angular.  What are 3 common complaints people have about Angular?
3 Is Angular an MVC framework?
4 Why did I say jQuery is "sort of" a dependency of Angular? Does it depend on it or not?!
5 Read the docs for `ng-app`. What is it and what does it do?
6 What does `ng` stand for?

    Answers:
1 Angular takes less lines of code over other frameworks and doesn't use setters and getters for data binging. In general Angular is easier to understand except when getting into Directives
2 The documentation on angluar needs improvment, basics of angular are easy but then it becomes difficult, scopes are difficult to debug.
3 yes
4 angular uses JQLite this removes any dependencies. Angular will use the full jquery library if it is loaded before angular. In most cases jquery is not needed
5 the ngApp directive defines the root element of the applicaiton typically placed on the body or html tags. Ng stands for angular it is what all of the built in directives prefix with

Data Binding Questions
1 What does ng-model do?
2 What is "dirty checking"?
3 Find a way to set the initial value of "name" as "BoJack" (without writing a controller).
4 What are those `{{ }}` expressions?  Are they Handlebars?
5 Explain what 2-way data binding is.
 BONUS: Research the `$digest` loop

Answers
1 the ngmodel is responsible for binding an input, select, textarea to the scope using the ngcontroller
2 During the angular loop, angular checks for any changes to variables watched by the $scope. This is called diry checking because it scans the scope for changed
3 ng-init="name='BoJack'"
4 bound data
5 the model and view auto synch changes
